@charset "utf-8";
/**
 *声明:借鉴于@sofish的typo.css以及reset.css和normalize.css 二次开发而来
 */

/*---------------------------------定义body全局-------------------------------------*/

/**
 *定义全局字体颜色和背景颜色
 *1.chrome、safari
 *2.firefox系统
 *3.ie系统
 */
html{
	color:#333;
	background-color: #fff;
	-webkit-text-size-adjust:100%;  /* 1 */
	-ms-text-size-adjust:100%;
	text-rendering:optimizelegibility;
	-moz-osx-font-smoothing:grayscale; /* 2 */
	-webkit-font-smoothing:grayscale;
}

/*项目仅仅支持IE9+ | Chrome | firefox等,推荐在html中加入.borderbox*/
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing:border-box; /* 2 */
  -webkit-box-sizing:border-box; /* 1 */
  box-sizing:border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同  类似于YUI*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, 
legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, 
details, figcaption, figure, footer, header, menu, nav, section{
	margin:0;
	padding:0;
}

/*HTML5标签设置*/
article, aside, details, figcaption, figure, footer, header, menu, nav, section{
  display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video{
  display:inline-block;
  *display:inline;
  *zoom:1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
/**
 *默认1em=16px
 *设置行高为1.8倍,也就是16*1.8=28.8px,1.8em
 */
body, button, input, select, textarea{
  font:400 14px/1.5 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* ---------------------------------定义表单Forms----------------------------------- */

/* 去除 IE6 input/button 多余的空白 */
button, input{
  *width:auto;
  *overflow:visible;

  /* 让 input 和 button 一样高 */
  line-height:normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  padding:0;
  border:0;
}

/* 去除 webkit 中 input 和 textarea 的默认样式  */
input,textarea{
  /*-webkit-appearance:none;*/
  border-radius:0;
}

button,input,optgroup,select,textarea{
	color:inherit;
	font: inherit;
	margin: 0;
}

button {overflow: visible;}

button,select {text-transform: none;}

button,html input[type="button"], 
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; 
  cursor: pointer; 
}

button[disabled],html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,textarea {
    padding: 7px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #333;
    overflow: auto;
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 *input[search功能]
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0;padding: 0; }
textarea {
    overflow: auto;}




/*----------------------------------定义other----------------------------------------*/

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
  display:block;
}

/* 块/段落引用 */
blockquote {
  position:relative;
  color: #999;
  font-weight:300;
  font-family:Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  border-left:1px solid #1abc9c;
  padding-left:1em;
  margin:1em 3em 1em 2em;
}

@media only screen and ( max-width:640px ){
  blockquote{ margin:1em 0; }
}


/* 统一上标和下标 */
sub, sup{
  font-size:75%;
  line-height:0;
  position:relative;
}

:root sub, :root sup{
  vertical-align:baseline; /* for ie9 and other modern browsers */
}

sup{
  top:-0.5em;
}

sub{
  bottom:-0.25em;
}

/* 一致的 del 样式 */
del{
  text-decoration:line-through;
}

address, caption, cite, code, dfn, em, th, var{
  font-style:normal;
  font-weight:400;
}




q:before, q:after{
  content:'';
}

/* 标记，类似于手写的荧光笔的作用 */
mark{
  background:#fffdd1;
  border-bottom:1px solid #ffedce;
  padding:2px;margin:0 5px;
}

/* 代码片断 */
pre, code, pre tt{
  font-family:Courier, 'Courier New', monospace;
}

pre{
  background:#f8f8f8;
  border:1px solid #ddd;
  padding:1em 1.5em;
  display:block;
  -webkit-overflow-scrolling: touch;
}

/* */
hr{ 
	display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* -------------------------------定义有序列表和无序列表-------------------------- */

ul, ol{
  list-style:none;
}

ul{margin-left:1.3em;list-style:disc;}

ol{list-style:decimal;margin-left:1.9em;}

li ul,li ol, ul ul,ol ol,ul ol,ol ul{
  margin-top:0;
  margin-bottom:0;
  margin-left:2em;
}

li ul,ul ul,ol ul{
  list-style:circle;
}

/* -------------------------------定义文本,字体大小和链接Links -------------------------- */

a{ color:#1abc9c; text-decoration:none;}
/*a:hover{ color:#555; text-decoration:underline; border-bottom-color:#555;}*/

small{font-size:0.9em;color:#888;}
strong, b{font-weight:bold;color:#000;}

h1,h2,h3,h4,h5,h6{
	margin-bottom: 0.4em;  /* 16*0.4=6.4px */
	line-height: 1.5;
}
h1{font-size: 2em;} 
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5,h6{font-size: 1.2em;}

p{}

/* 文本高亮选中 */
::-moz-selection{
  background:#08c;
  color:#fff;
}

::selection{
  background:#08c;
  color:#fff;
}


/* 强制文本换行 */
.textwrap, .textwrap td, .textwrap th{
  word-wrap:break-word;
  word-break:break-all;
}

.textwrap-table{
  table-layout:fixed;
}

/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif{ font-family:Palatino, Optima, Georgia, serif; }

/* ---------------------------------定义图像Imgs---------------------------------- */

/* 去除默认边框 */
fieldset, img{
  border:0;
}

/* 图片说明 */
figcaption{
  font-size:0.9em;
  color:#888;
}

/* 解决 IE6-7 图片缩放锯齿问题 */
img{
  -ms-interpolation-mode:bicubic;
}

/*圆形图像生成*/
img .img-circle{
	-webkit-border-radius: 50%; 
}

/* ---------------------------------定义表格Tables ---------------------------------- */
/* 去掉各Table cell 的边距并让其边重合 */
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align */
th{
  background:#fbfbfb;
  text-align:inherit;
}

table th, table td,table caption{
  border:1px solid #ddd;
  padding:0.5em 1em;
  color:#666;
}

table thead th{
  background:#f1f1f1;
}

table caption{
  border-bottom:none;
  text-align:left;
}

/* ---------------------------------清楚浮动 ---------------------------------- */
.clearfix:before, .clearfix:after{
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}

.clearfix{
  zoom:1;
}

/*=================================响应式布局===================================*/



/*=================================面板===================================*/
.panel{ margin-bottom: 21px; background-color: #fff; border: 1px solid transparent; /*border-radius: 4px;*/
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05);}
.panel-primary{ border-color: #2c3e50;}
.panel-primary>.panel-heading { color: #ffffff; background-color: #2c3e50; border-color: #2c3e50;}
.panel-primary{ border-color: #2c3e50;}
.panel-primary>.panel-heading { color: #ffffff; background-color: #2c3e50; border-color: #2c3e50;}
.panel-success{ border-color: #18bc9c;}
.panel-success>.panel-heading { color: #ffffff; background-color: #18bc9c; border-color: #18bc9c;}
.panel-warning{ border-color: #f39c12;}
.panel-warning>.panel-heading { color: #ffffff; background-color: #f39c12; border-color: #f39c12;}
.panel-danger{ border-color: #e74c3c;}
.panel-danger>.panel-heading { color: #ffffff; background-color: #e74c3c; border-color: #e74c3c;}
.panel-info{ border-color: #3498db;}
.panel-info>.panel-heading { color: #ffffff; background-color: #3498db; border-color: #3498db;}

/*面板heading、面板title、面板主体body*/
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent;/* border-top-right-radius: 2px; border-top-left-radius: 2px;*/}
.panel-title{ margin-top: 0; margin-bottom: 0; font-size: 14px; color: inherit;}
.panel-body { padding: 15px;}